<div class="container">
  
  <div class="alert alert-success" *ngIf='updateResponse'>{{updateResponse}}</div>
  
  <h1>
    Todo
  </h1>

<!-- if the form has any invalid data we will not be able to submit the form -->
<form (ngSubmit)="!todoForm.invalid && updateTodo()" #todoForm="ngForm" *ngIf="todo">
    <fieldset class="form-group">
    <label>Description</label>
    <!-- ngmodel two way binding allows us to not have to update it in typescript class -->
    <input type="text" class="form-control" [(ngModel)]=todo.description name = "description" required = "required">
    </fieldset>
    
    <fieldset class="form-group">
    <label>Status</label>
    <input type="text" class="form-control" [(ngModel)]=todo.status name = "status" required = "required">
    </fieldset> 
    
    <fieldset class="form-group">
    <label>Target Date</label>
    <input type="date" class="form-control" [ngModel]="todo.completionDate | date:'yyyy-MM-dd'"
      (ngModelChange)="todo.completionDate = $event"
      name = "completionDate" required = "required">
    </fieldset>
  <button type="submit" class="btn btn-success">Save Todo</button>
</form>
</div>